extends layout

block content
  .row
    .panel-body
      .col-md-6.col-md-offset-3
        form(method='POST' action='/movies/add')
          .row
            .col-md-12.lead
              | Add movie
              hr
          .row
            .col-md-12
              .form-group
                label(for='title') Title
                input.form-control(type='text' placeholder='Title' name='title')
              .form-group
                label(for='ageRestriction') Age Restriction
                input.form-control(type='number' placeholder='Age Restriction' name='ageRes')
              .form-group
                label(for='premiere') Premiere
                input.form-control(type='text' placeholder='Premiere' name='premiere' id='datepicker')
              .form-group
                label(for='length') Length
                input.form-control(type='number' placeholder='Length' name='length')
          .row
            .col-md-12
              hr
              button.btn.btn-primary.pull-right(type='submit')
                i.glyphicon.glyphicon-floppy-disk
                |  Save