extends layout

block content
	p Add movie
	form(method='POST' action='/addMovie')
		input.form-control(type='text' placeholder='Title' name='title')
		input.form-control(type='number' placeholder='AgeRestriction' name='ageRes')
		input.form-control(type='number' placeholder='Length' name='length')
		button(type='submit') Submit