extends layout

block content
  h1= title
  p Welcome to #{title}
  button#getAllUsers(onClick='getAllUsers()') Get All Users


  script(type='text/javascript').
     function getAllUsers(){
       $(location).attr('href','/users');
     };