extends layout

block content
  h1= CinemaDB
  p Welcome to CinemaDB
  button#getAllUsers(onClick='getAllUsers()') Get All Users


  script(type='text/javascript').
     function getAllUsers(){
       $(location).attr('href','/users');
     };