extends layout

block content
  h1= CinemaDB
  p Top 10 Newest Movies
  ul
    each movie in movies
      li #{movie.Title}
      li Age Restriction #{movie.AgeRestriction}
      li Length #{movie.Length}
      li 
      
  button#renderLogin(onClick='renderLogin()') Login
  button#renderSignup(onClick='renderSignup()') Sign up
  button#renderHottestMovies(onClick='renderHottestMovies()') Hottest Movies

  script(type='text/javascript').
     function renderLogin(){
       $(location).attr('href','/login');
     };

     function renderSignup(){
       $(location).attr('href','/signup');
     };

     function renderHottestMovies(){
       $(location).attr('href','/movies/hottest');
     };
     