extends layout

block content
  h1= CinemaDB
  p Welcome to CinemaDB
  button#renderLogin(onClick='renderLogin()') Login
  button#renderSignup(onClick='renderSignup()') Sign up
  //-button#getAllUsers(onClick='getAllUsers()') Get All Users


  //- script(type='text/javascript').
  //-    function getAllUsers(){
  //-      $(location).attr('href','/users');
  //-    };

  script(type='text/javascript').
     function renderLogin(){
       $(location).attr('href','/login');
     };

     function renderSignup(){
       $(location).attr('href','/signup');
     };