extends layout

block content
  h1= CinemaDB
  p Top 10 Newest Movies
  ul
    each movie in movies
      li #{movie.Title}
      li Age Restriction #{movie.AgeRestriction}
      li Length #{movie.Length}
      li 
