extends layout

block content
	p Movies
		ul
			each m in movies
				li #{m.Title}   
					button#getMovieData(onClick='getMovieData(#{m.Id})') Movie info
				li 

	script(type='text/javascript').
		function getMovieData(id) {
			console.log(id);
			$(location).attr('href','/movie/#{id}');
		};
