extends layout

block content
  .row
    .col-md-12.lead
      | Sign up
      hr
  .row
    .col-md-12
      #alert
      form(method='POST' action='/signup')
        .form-group
          label(for='username') Username
          input.form-control(type='text' name='username')
        .form-group
          label(for='password') Password
          input.form-control(type='password' name='password')
        .form-group
          label(for='firstName') First Name
          input.form-control(type='text' name='firstName')
        .form-group
          label(for='lastName') Last Name
          input.form-control(type='text' name='lastName')
        .form-group
          label(for='age') Age
          input.form-control(type='number' name='age')
        button.btn.btn-primary(type='submit') Sign up
  
  script(type='text/javascript').
     function renderLogin(){
       $(location).attr('href','/login');
     };

     function renderSignup(){
       $(location).attr('href','/signup');
     };

