extends layout

block content
  h1= CinemaDB
  p Sign up
  #alert
  form(method='POST' action='/signup')
    label(for='username') username
    input.form-control(type='text' name='username')
    input.form-control(type='password' name='password')
    input.form-control(type='text' name='firstName')
    input.form-control(type='text' name='lastName')
    input.form-control(type='number' name='age')
    button(type='submit') Sign up
  
  script(type='text/javascript').
     function renderLogin(){
       $(location).attr('href','/login');
     };

     function renderSignup(){
       $(location).attr('href','/signup');
     };

